
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1524042103907') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tr-icon-errors:before { content: "\e60a"; }

.tr-icon-aixinjuanzeng:before { content: "\e615"; }

.tr-icon-pause1:before { content: "\e81f"; }

.tr-icon-empty:before { content: "\e776"; }

.tr-icon-shuju:before { content: "\e639"; }

.tr-icon-up:before { content: "\e624"; }

.tr-icon-queue-move:before { content: "\ea18"; }

.tr-icon-top:before { content: "\e60b"; }

.tr-icon-start:before { content: "\e62e"; }

.tr-icon-pause:before { content: "\e62f"; }

.tr-icon-github:before { content: "\ead8"; }

.tr-icon-update:before { content: "\e67b"; }

.tr-icon-cancel-checked:before { content: "\e662"; }

.tr-icon-data-check-1:before { content: "\e64b"; }

.tr-icon-servers:before { content: "\e607"; }

.tr-icon-shang:before { content: "\e610"; }

.tr-icon-recheck-torrent:before { content: "\e604"; }

.tr-icon-replace:before { content: "\e7a4"; }

.tr-icon-pause-all:before { content: "\e7a9"; }

.tr-icon-delete:before { content: "\e614"; }

.tr-icon-labels:before { content: "\e6bc"; }

.tr-icon-more-peers:before { content: "\e603"; }

.tr-icon-fileoutline:before { content: "\e819"; }

.tr-icon-rename:before { content: "\ea44"; }

.tr-icon-server-network:before { content: "\ea7c"; }

.tr-icon-plugin:before { content: "\e61e"; }

.tr-icon-folder-change:before { content: "\e696"; }

.tr-icon-download:before { content: "\e6c2"; }

.tr-icon-reload:before { content: "\e622"; }

.tr-icon-server-error:before { content: "\ea05"; }

.tr-icon-cuowu1:before { content: "\e674"; }

.tr-icon-start-all:before { content: "\e63e"; }

.tr-icon-search:before { content: "\e720"; }

.tr-icon-help:before { content: "\e605"; }

.tr-icon-file:before { content: "\e62c"; }

.tr-icon-upload:before { content: "\e72c"; }

.tr-icon-folder:before { content: "\e61d"; }

.tr-icon-warning:before { content: "\e680"; }

.tr-icon-home:before { content: "\e62a"; }

.tr-icon-auto-match:before { content: "\e63d"; }

.tr-icon-restore:before { content: "\e640"; }

.tr-icon-file-hidden:before { content: "\e72f"; }

.tr-icon-server-network-off:before { content: "\e896"; }

.tr-icon-system-config:before { content: "\e625"; }

.tr-icon-pause2:before { content: "\e63a"; }

.tr-icon-wait:before { content: "\e846"; }

.tr-icon-data-check:before { content: "\e6d2"; }

.tr-icon-file1:before { content: "\e602"; }

.tr-icon-plus:before { content: "\e600"; }

.tr-icon-actively-1:before { content: "\e73d"; }

.tr-icon-label:before { content: "\e706"; }

.tr-icon-bt:before { content: "\e681"; }

.tr-icon-server:before { content: "\e60c"; }

.tr-icon-actively:before { content: "\e609"; }

.tr-icon-rocket:before { content: "\e68b"; }

.tr-icon-down:before { content: "\ea45"; }

.tr-icon-bottom:before { content: "\ea46"; }

.tr-icon-pt-plugin:before { content: "\e601"; }

.tr-icon-woniu:before { content: "\e608"; }

.tr-icon-clippy:before { content: "\e60d"; }

